body, html {
   border: 0;
   padding: 0;
   margin: 0;
 }
h1{
  color: black;
  font-family: "Playfair Display";
  font-size: 60px;
  text-align: center;
  margin-left: 1em;
}

#header{
  font-family: "Playfair Display";
  text-align: center;
  color: white;
  font-size: 40px;
  margin-bottom: 0em;
  right: 1em;
}
.options{
  background-color:black;
  height: 175px;
  width: 1680px;
  border: 3px solid white;


}
hr{
  float: none;
  position: relative;
  top: 100px;
  padding-left: 10px;
  margin-bottom: 0em;
  width:1655px;

}
h2,a{
  color:white;
  font-size: 18px;
  text-align: center;
  word-spacing: 30px;
  font-family: "Raleway";
  margin: 3ch -.5vw 0 0vw;
  text-decoration: none;
  left:10px;

}

h2{
  position: relative;
}

a:hover{
  font-size: 22px;

  }
#vertical,#vertical1,#vertical2{
  height: 650px;
  width: 400px;
}
#horizontal,#horizontal1,#horizontal2,#horizontal3,#horizontal4,#horizontal5,#horizontal6,#horizontal7,#horizontal8,#horizontal9{
  height: 400px;
  width: 650px;
}
#square, #square1{
  height:500px;
  width:500px;
}

.gallery{
  text-align: center;
}

.gallery img{
  transition:1s;
  padding:15px;
  width:200px;
}

.gallery img:hover{
  filter: brightness(70%);
  transform:scale(1.1);
}
