section{
  background-color:#3f6fe0;
  margin: 30vh 20vw;
  padding: 5vh 7vw 7vh 7vw;
  border-radius: 5px;
}

button{
  border-radius: 8px;
  padding: 1vh 1vw;
  float: right;
  margin-top: 1vh;
  background-color: black;
  color: #b9bdba;
}
 button:hover{
   border: #fff solid 1px;

 }

 button: active{
   color: #
 }
h1{
  color: white;
  font-family: "EB Garamond";
}
body{
  background-image: url("reopen-2017.jpg");
  background-color: #cccccc;
  background-size: 1700px;
}
