h1{
  color: black;
  font-family: "Playfair Display";
  font-size: 60px;
  text-align: center;
}

#vertical{
  height: 650px;
  width: 400px;
}
#horizontal{
  height: 400px;
  width: 650px;
}

.gallery{
  margin:10px 50px;
}

.gallery img{
  transition:1s;
  padding:15px;
  width:200px;
}

.gallery img:hover{
  filter: brightness(70%);
  transform:scale(1.1);
}
