@media screen and (min-width:800px){
  #isabelleimg, #maroonimg, #maryimg {
    display:block;
  }
}
@media screen and (max-width:799px){
  #isabelleimg, #maroonimg, #maryimg {
    display: none;
  }
  #hikes h2{
    color: #56c774;
  }

}
h1{
  font-size: 40px;
  color: white;
  font-family: "Abril+Fatface";
}
h2{
  font-size: 30px;
  color: #FBEEC1;
  font-family: "Abril+FatFace";
}
body{
  background-color: #659DBD;
}
p{
  font-family: "Cormorant+Garamond";
}

#hikes{
  display:grid;
  grid-template-columns: 30vw 70vw;
}

#p1, #p2 {
  margin-bottom: 215px;
}
