p{
  color: red;
  font-family:helvetica;
}
h1, h2{
  font-family: "Bebas Neue";

}

#hero{
  width:100vw;
  height: 60vh;
  overflow:hidden;
  margin:0px;
  padding: 0px;
}
#hero img {
  width; 100vw;
  position; relative;
  bottom: 300px;
}
h2{
  font-size: 40px;
}
#hero h1{
  z-index: 1;
  position: relative;
  font-size: 6vw;
  top: 30vh;
  margin: 0 0 0 4vw;
}
 #one, #two {
   margin-left: 7vw;
   margin-right: 3vw;
   margin-top: 10vw;
 }
 button{
   background-color: #ebbd34;
   font-family:"Bebas Neue";
   font-size: 30px;
   padding: 7px 20px;

 }

 button:active{
   background-color: blue;
   color: white;
 }

 button: hover{
   border:solid black 3px;
 }
