body, html {
   border: 0;
   padding: 0;
   margin: 0;
 }
#title{
  text-align: center;
  font-family: "Playfair Display";
  font-size: 80px;
  margin-bottom: 0em;
  margin: -.5ch 0vw 0 1vw;
}
#header{
  font-family: "Playfair Display";
  text-align: center;
  color: white;
  font-size: 40px;
  left:100px;

}
.options{
  background-color:black;
  height: 175px;
  width: 1680px;
  border: 3px solid white;
  position: relative;
  margin-bottom: 1em;



}
hr{
  float: none;
  position: relative;
  top: 100px;
  margin-bottom: 0em;
  width: 1680px;

}
#options,a{
  color:white;
  font-size: 18px;
  text-align: center;
  word-spacing: 30px;
  font-family: "Raleway";
  text-decoration: none;
  margin: -2ch 0vw 0 0vw;

}
a:hover{
  font-size: 22px;
}

body{
  background-color: #DDC9C8;
}

#insta{
  height: 20px;
  width: 20px;
}
.Wico{
  background-color: white;
  height: 400px;
  width: 650px;
  margin-left: 12em;
}

#company{
  font-family: "Playfair Display";
  font-size: 40px;
  margin-left: .5em;
  margin-bottom: 0em;
  color: black;
}

#company2{
  font-family: "Playfair Display";
  font-size: 40px;
  margin-left: .5em;
  margin-bottom: 1.3em;
}

#postion{
  font-family: "Playfair Display";
  font-size: 28px;
  margin-left: 1.2em;
  margin-top: 0em;
  font-style: italic;
  margin: -2.5ch 0vw 0 4vw;

}


li{
  font-family: "Raleway";
  font-size: 21px;
  margin-right: 1em;
}

#insta{
  margin: -150ch 100vw 0 33.5vw;
  margin-bottom: 0em;
  height: 60px;
  width: 80px;
}

.Bold{
  background-color: white;
  height: 400px;
  width: 650px;
  margin-left: 53em;

}
.Crunch{
  background-color: white;
  height: 400px;
  width: 650px;
  margin-left: 12em;
}
