body, html {
   border: 0;
   padding: 0;
   margin: 0;
 }
h1{
  font-family: "Playfair Display";
  font-size: 80px;
  color: white;
  text-align: center;
  margin-left: .5em;
  margin-bottom: 0em;



}
#header{
  font-family: "Playfair Display";
  text-align: center;
  color: white;
  font-size: 40px;
  left: 1em;
}
.options{
  background-color:black;
  height: 175px;
  width: 1680px;
  border: 3px solid white;
  position: relative;
  margin-bottom: 1em;

}
hr{
  float: none;
  position: relative;
  top: 100px;
  margin-bottom: 0em;
  width: 1680px;

}
h2,a{
  color:white;
  font-size: 18px;
  text-align: center;
  word-spacing: 30px;
  font-family: "Raleway";
  margin: -3.3ch -.5vw 0 0vw;
  text-decoration: none;

}
h2{
  left:110px;
}
a{
text-decoration: none;
}
a:hover{
  font-size: 22px;

  }
body{
  background-color:#404040;
  margin-bottom: 4em;
}
p,#click{
  font-family: "Raleway";
  font-size: 30px;
  color: white;
  text-align: center;
  position: relative;


}

p{
  margin-left: 1.5em;

}
#map{
  height: 600px;
  width: 1680px;
}
